<div class="menu">
  <div class="menu-links">
    <a [routerLink]="['/sample']" routerLinkActive="active" class="menu-item"
      >Sample</a
    >
    <a
      [routerLink]="['/by-leaflet']"
      routerLinkActive="active"
      class="menu-item"
      >By leaflet</a
    >
    <a
      [routerLink]="['/constructor']"
      routerLinkActive="active"
      class="menu-item"
      >Constructor</a
    >
  </div>

  <a
    href="https://utamuratov.uz/"
    target="_blank"
    rel="noopener noreferrer"
    class="author-link"
  >
    © utamuratov.uz
  </a>
</div>
<router-outlet></router-outlet>
